#app {
  background-color: white;
}

body {
  overscroll-behavior-y: contain !important;
  min-height: calc(100% + env(safe-area-inset-top));
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif !important;

  overflow: hidden;
  transform: skew(-0.1deg) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif !important;

  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  transform: skew(-0.1deg);
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  transform: skew(-0.1deg);
}

.scrolldiv {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch !important;
  padding-top: 0px;
  height: 100vh !important;
}

.scrolldiv .ios {
  padding-top: 60px;
}

.clickable {
  cursor: pointer;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

:not(.except-css)
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #126bf7;
}

.bold {
  font-weight: 600;
}
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.font-7 {
  font-size: 7px;
}

.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-26 {
  font-size: 26px;
}

.font-27 {
  font-size: 27px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-33 {
  font-size: 33px;
}

.font-35 {
  font-size: 35px;
}

.font-36 {
  font-size: 36px;
}

.font-40 {
  font-size: 40px;
}

.font-200 {
  font-weight: 200;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.d-flex {
  display: flex;
}

.d-wrap {
  flex-wrap: wrap;
}

.d-fit {
  justify-content: space-between;
}

.d-end {
  justify-content: flex-end;
}

.d-start {
  justify-content: flex-start;
}

.d-center {
  justify-content: center;
}

.d-even {
  justify-content: space-evenly;
}

.d-around {
  justify-content: space-around;
}

.c-white {
  color: white;
}

.c-red {
  color: #ff3232;
}

.c-black0 {
  color: #000000;
}
.c-black1 {
  color: #101010;
}

.c-black2 {
  color: #303030;
}

.c-black3 {
  color: #3f3f3f;
}

.c-black4 {
  color: #141414;
}

.c-black5 {
  color: #303030;
}

.c-black6 {
  color: #707070;
}

.c-black7 {
  color: #060606;
}

.c-black8 {
  color: #1c1c1c;
}
.c-black9 {
  color: #0f0f0f;
}
.c-black10 {
  color: #565656;
}
.c-black11 {
  color: #333333;
}
.c-gray1 {
  color: #9a9eaf;
}

.c-gray2 {
  color: #c5c5c5;
}

.c-gray3 {
  color: #9f9f9f;
}

.c-gray4 {
  color: #8e8e8e;
}

.c-gray5 {
  color: #656565;
}

.c-gray6 {
  color: #919ba7;
}

.c-gray7 {
  color: #8f8f8f;
}

.c-gray8 {
  color: #aeaeae;
}
.c-gray9 {
  color: #5f6d7e;
}
.c-purple {
  color: #7a58e0;
}

.c-blue {
  color: #437ef7;
}

.c-blue2 {
  color: #7461f2;
}

.center-center {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.custom-btn1 {
  border-radius: 5px;
  background-color: #121212;
  color: white;
  width: 150px;
  height: 33px;
  font-size: 15px;
  font-weight: 600;
  margin: 50px auto 0;
  padding-top: 5px;
  cursor: pointer;
}

.custom-btn2.ant-btn,
.custom-btn2.ant-btn:hover,
.custom-btn2.ant-btn:focus,
.custom-btn2.ant-btn:active {
  background-color: black;
  color: white;
  border: none;
}

.custom-btn3.ant-btn,
.custom-btn3.ant-btn:hover,
.custom-btn3.ant-btn:focus,
.custom-btn3.ant-btn:active {
  background-color: red;
  color: white;
  border: none;
}

.custom-btn4.ant-btn,
.custom-btn4.ant-btn:hover,
.custom-btn4.ant-btn:focus,
.custom-btn4.ant-btn:active {
  background-color: #6bc743;
  color: white;
  border: 1px solid #6bc743;
}

.custom-btn5.ant-btn,
.custom-btn5.ant-btn:hover,
.custom-btn5.ant-btn:focus,
.custom-btn5.ant-btn:active {
  background-color: #2db7f5;
  color: white;
  border: 1px solid #2db7f5;
}

.vs-notification__content__header h4 {
  color: white !important;
}

.style input,
.style textarea {
  background-color: white !important;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  width: 100%;
  height: 44px;
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.style input:focus,
.style input:hover,
.style textarea:focus,
.style textarea:hover {
  border: 1px solid #333333;
}

.ant-slider-track {
  background-color: #333333 !important;
}

.ant-slider-handle {
  border: solid 2px #333333 !important;
}

.ant-checkbox-checked::after {
  border: 1px solid #333333 !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #333333 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background: #333333 !important;
}

.ant-select-open .ant-select-selection,
.ant-select-selection:hover {
  border-color: #333333 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #333333 !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #333333 !important;
  font-weight: bold;
}

.ant-tabs-ink-bar {
  background-color: #333333 !important;
}

.user-table tbody tr {
  cursor: pointer;
}

.vs-notification-parent--bottom-center {
  left: 52% !important;
  -webkit-transform: translate(-52%) !important;
  transform: translate(-52%) !important;
}

.stylex .ant-select-selection--single {
  height: 44px;
}

.stylex .ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  margin-top: -8px !important;
}

.stylex .ant-select-selection__rendered {
  margin-top: 7px;
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

.pulse {
  animation: pulsate 1s ease-out;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.control-css ::-webkit-scrollbar {
  height: 0 !important;
  width: 5px !important;
  background-color: #87898c !important;
}

.control-css ::-webkit-scrollbar-thumb {
  background-color: #2f3242 !important;
  border: 10px solid #2f3242 !important;
}

.robot-css ::-webkit-scrollbar {
  height: 5px !important;
  width: 0 !important;
  background-color: #87898c !important;
}

.robot-css ::-webkit-scrollbar-thumb {
  background-color: #2f3242 !important;
  border: 5px solid #2f3242 !important;
}

.table-css ::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
  background-color: #87898c !important;
}

.table-css ::-webkit-scrollbar-thumb {
  background-color: #2f3242 !important;
  border: 5px solid #2f3242 !important;
}

.order-css ::-webkit-scrollbar {
  width: 0 !important;
  background-color: #87898c !important;
}

.table-css .ant-table-fixed-header .ant-table-scroll .ant-table-header {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.table-css .ant-table-header::-webkit-scrollbar {
  height: 0px !important;
  width: 0px !important;
  background-color: #87898c !important;
}

.table-css .ant-table-fixed-left ::-webkit-scrollbar,
.table-css .ant-table-fixed-right ::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
  background-color: #87898c !important;
}

.ant-pagination-item-active {
  border-color: #333333 !important;
}
.ant-pagination-item-active a {
  color: #333333 !important;
}

.ant-drawer-left.ant-drawer-open,
.ant-drawer-right.ant-drawer-open {
  z-index: 1300;
}

.ant-select-dropdown {
  z-index: 1301 !important;
}

.option-css {
  position: relative;
  width: 350px;
  z-index: 1100;
  background-color: white;
  height: calc(100vh - 30px);
  transition: width 0.5s;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
  clip-path: polygon(0% 0%, 120% 0%, 120% 100%, 0% 100%);
  padding: 40px 20px 20px;
}

.option-css.wide {
  width: 500px;
}

.option-css.hide {
  width: 0px;
  box-shadow: none;
  transition: width 0.5s;
  padding: 0px;
}

.option-css ::-webkit-scrollbar {
  height: 5px !important;
  width: 5px !important;
  background-color: #87898c !important;
}

.option-css ::-webkit-scrollbar-thumb {
  background-color: #2f3242 !important;
  border: 10px solid #2f3242 !important;
}

.ant-tooltip {
  z-index: 1101 !important;
}
.trigger {
  background-color: white;
  position: relative;
  z-index: 1101;
}
.trigger:hover {
  background-color: #f1f3f9;
}

.ant-radio-inner::after {
  background-color: #333333 !important;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #333333 !important;
}
.ant-radio-checked::after {
  border: 1px solid #333333 !important;
}

.ant-modal-wrap {
  z-index: 1300 !important;
}

.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
  margin-top: -12px !important;
}
