

#loading-bg{
        display: inline-block; 
        margin: 20px;
    }
.loading-logo{  
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}    
.loading-logo img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.loading-logo .loading{
    width:50px;
    height:50px;
    display: block;
    margin: 0 auto;
}



.loading .effect-1,  .loading .effect-2{
  width:50px;
  height:50px;
  position:fixed;
  border: 3px solid transparent;
  border-left: 3px solid #2b3439;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loading .effect-1{
  animation: rotate 1s ease infinite;
}
.loading .effect-2{
  animation: rotateOpacity 1s ease infinite .1s;
}
.loading .effect-3{
  width:50px;
  height:50px;
  position:fixed;
  border: 3px solid transparent;
  border-left: 3px solid #2b3439;
  -webkit-animation: rotateOpacity 1s ease infinite .2s;
  animation: rotateOpacity 1s ease infinite .2s;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loading .effects{
  transition: all .3s ease;
}

@keyframes rotate{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotateOpacity{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .1;
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: 1;
  }
}